<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="javascripts/jquery.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="javascripts/summarycinema.js"></script>
    <script type="text/javascript" src="javascripts/hotcinema.js"></script>
    <script type="text/javascript" src="javascripts/nextcinema.js"></script>
    </head>
	<body>
		<div id="moive">
			<img id="poster" src="">
			<h1 id="moivename"></h1>
			<h2 id="dir"></h2>
			<h3 id="star"></h3>
			<p id="rt"></p>
			<p id="sc"></p>
			<p id="cat"></p>
			<p id="wish"></p>
			<p id="time"></p>
			<p id="ver"></p>
			<div id="dra"></div>
		</div>
		<input id="date" type="date" min=""/>
		<div id="session"></div>
	</body>
</html>