<!DOCTYPE html>
<html>
  <head>
    <title>爱·电影</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/userwork.js" ></script>
    <script type="text/javascript" src="javascripts/cinema.js" ></script>
    <script type="text/javascript" src="javascripts/hotcinema.js"></script>
    <script type="text/javascript" src="javascripts/nextcinema.js"></script>
    <link rel='stylesheet' href='stylesheets/cinema.css' />
    <link rel='stylesheet' href='stylesheets/index_style.css' />
  </head>
  
  <body>
    <!--标题部分-->
    <div id="index_header">
      <a id="login_link" onclick="showWin(), createCode()" href="#" mce_href="#">登录</a>
      <h1>爱·电影</h1>
    </div>

    <!--显示电影列表-->
    <div type="cinema">
      <div class="tabs" id="menu">
        <ul id="tabs">
          <li class="tab-nav">
            <a href="#">
              <font>正在售票</font>
              <i id="hot-micket"></i>
              <font>部</font>
            </a>
          </li>
          <li class="tab-nav-action">
            <a href="#">
              <font>即将上映</font>
               <i id="onnext-micket"></i>
              <font>部</font>
            </a>
          </li>
          <li class="tab-nav">
            <a href="#">优惠活动</a>
          </li>
        </ul>
       </div>
       <div style="clear:both"></div>
       <div id="tabs-body" class="tabs-body">
         <div style="display:block">
          <ul id="hotcinema">
            <li id="cinemasummary0" class="cinemasummary">
            </li>
            <li id="cinemasummary1" class="cinemasummary">
            </li> 
            <li id="cinemasummary2" class="cinemasummary">
            </li> 
          </ul>
         </div>
         <div style="display:none">
          <ul id="nextcinema">
            <li id="nextcinema0" class="cinemasummary">
            </li>
            <li id="nextcinema1" class="cinemasummary">
            </li> 
            <li id="nextcinema2" class="cinemasummary">
            </li> 
          </ul>
         </div>
          <div style="display:none">
            <p>暂时还没有哦</p>
          </div>
      </div>
    </div>

    <!--登录框部分-->
    <div type="login">
      <div id="win">
        <div id="login_page_title">
          <h1>登录</h1>
          <span id="login_page_close" onclick="hide()">X</span>
        </div>
        <div id="login_page_content">
          <label>
            <span>Phone: </span>
            <input type="phone" id="phone_input" placeholder="请输入电话号码"/>
          </label>
          <label>
            <span>Password: </span>
            <input type="password" id="password_input" placeholder="请输入密码" /> 
          </label>
          <label>
            <div onselectstart="return false;" class="code" id="checkCode"></div>
            <a href="#" onclick="createCode()">看不清换一个</a>
          </label>
          <label>
            <span>验证码: </span>
            <input type="text" id="code_input" placeholder="请输入验证码"/>
          </label>
          <label>
            <div>
              <button class="page_button" onclick="login_denglu()"> 登录 </button>
              <button class="page_button" id="register_button" onclick="register()"> 注册 </button>
            </div>
            <a href="#"> 忘记密码 </a>
            <button class="page_button" id="clear_button" onclick="user_clear()"> 清除</button>
          </label>
        </div>
      </div>
      <div id="loginsuccess">
        <strong >欢迎您，尊敬的</strong>
        <strong id="welcome">visitor</strong>
        <button onclick="logout()">注销</button>
      </div>
    </div>

    <!--底部-->
    <div id="index_footer"></div>
  </body>
</html>