<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.seat-charts.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="javascripts/hotcinema.js"></script>
    <script type="text/javascript" src="javascripts/nextcinema.js"></script>
	<script type="text/javascript" src="javascripts/seat.js"></script>
	<link rel='stylesheet' href='/stylesheets/seat.css' />
    </head>
	<body>
		<div class="demo"> 
 			<div id="seat-map"> 
 				<div class="front">屏幕</div>   
 			</div> 
 			<div class="booking-details"> 
 				<p>影片：<span id="cinema"></span></p> 
 				<p>时间：<span id="time"></span></p> 
 				<p>座位：</p> 
 				<ul id="selected-seats"></ul> 
 				<p>票数：<span id="counter">0</span></p> 
 				<p>总计：<b>￥<span id="total">0</span></b></p> 
 				<button class="checkout-button">确定购买</button> 
 				<div id="legend"></div> 
 			</div> 
		</div>
	</body>
</html>