/*header部分*/
#index_header {
	background-color: #4f434f;
	color: white;
	padding: 10px;
	padding-left: 50px;
}

#login_link {
	color: #c9e1ed;
	font-size: 20px;
	float :right;
	padding-top: 30px;
	padding-right: 50px;
}

/*登录框部分*/
#win{
    /*边框*/
    border:1px #4f434f solid;
    /*窗口的高度和宽度*/
    width : auto;
    height: auto;
    /*窗口的位置*/
    position : absolute;
    top : 100px;
    left: 350px;
    /*开始时窗口不可见*/
    display : none;
    background: white;
}

#login_page_title{
    color : #4f434f;
    /*控制标题栏的左内边距*/
    padding-left: 3px;
    text-align: center;
}

/*控制关闭按钮的位置*/
#login_page_close{
    margin-right: 3px;
    margin-top: -88px;
    font-size: 28px;
    /*当鼠标移动到X上时，出现小手的效果*/
    cursor: pointer;
    float:right;
}

#login_page_cotent{
    padding-left: 3px;
    padding-right : 3px;
    padding-top :  5px;
    margin-left: 5px;
}

#loginsuccess {
    display : none;
}

label {
    display: block;
    margin-left: 20px;
}

label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 20px;
    margin-top: 10px;
    color: #888;
}

#phone_input, #password_input, #code_input {
    color: #555;
    width: 80%;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    line-height:15px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

#register_button {
    margin-left: 73px;
}

#clear_button {
    margin-left: 85px;
}

.page_button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    margin-bottom: 4px;
}

.page_login_button :hover {
    background: #CF7A7A;
}

/*footer部分*/
#index_footer {
	background-color: #4f434f;
	height: 30px;
	margin-top: 450px;
}