.front {
	width: 300px;
	margin: 5px 32px 45px 32px;
	background-color: #f0f0f0; 
	color: #666;text-align: 
	center;padding: 3px;
	border-radius: 5px;
} 
.booking-details {
	float: right;
	position: 
	relative;
	width:200px;
	height: 450px; 
} 
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 16px;
} 
.booking-details p{
	line-height:26px; 
	font-size:16px; 
	color:#999
} 
.booking-details p span{
	color:#666
} 